
[id*=sub1] {
	background-color: #06C; 
	position: absolute; 
	left:403px; 
	text-decoration: none; 
	padding:0;
}

[id*=sub1] li a{
	display:list-item;
	list-style: none;
	padding: 0;
}

#payments_sub1{list-style: none; left: 462px;}

#wages_sub1{list-style: none; }



